button {  
width:80px;  
height:60px;  
border:none;  
border-radius:16px;  
margin-left:34px;  
margin-bottom: 10px;
cursor:pointer;  
border-top:4px solid transparent;  
position: relative; 
top:30px;  
font-size: 30px;
}  
#zero {
width:200px;  
height:60px;  
border:none;  
border-radius:8px;  
margin-left:32px;  
cursor:pointer;  
border-top:2px solid transparent;  
position: relative; 
top:30px; 
color:black;  
background-color:303030;  
border-bottom:black 2px solid;  
border-top:2px 303030 solid; 
}
#AC {  
color:white;  
background-color:#6f6f6f;  
border-bottom:black 2px solid;  
border-top:2px #6f6f6f solid;  
}  
.operateBtns {  
color:black;  
background-color:#fffc45;  
border-bottom:black 2px solid;  
}  
#backSpace {  
color:black;  
background-color:#fffc45;  
border-bottom:black 2px solid;  
}  
.numberButtons {  
color:black;  
background-color:303030;  
border-bottom:black 2px solid;  
border-top:2px 303030 solid;  
}  
#operateBtn {  
color:black;  
background-color:#FF9933;  
border-bottom:black 2px solid;  
border-top:2px #FF9933 solid;  
}   
body {  
background-color:rgb(138, 117, 48);  
}  
.container {  
background-color:#3d4543;  
height:600px;  
width:500px;  
border-radius:10px;  
position:relative;  
top:160px;  
left:40%;  
} 
.screen {  
background-color:#bccd95;  
width:440px;  
position:relative;  
left:30px;  
top:40px;  
height:160px;  
margin-bottom: 45px;
color:black; 
font-size:42px;  
text-align:right; 
}  
#numberOneAndOperator {
font-size: 30px;
}
h1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 80px;
text-align: center;
}